<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /></assemblies></compilation>    
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ski-llet">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)ski-llet(.*)"/>
            <add input="{HTTP_HOST}" pattern="^redirector-test1.tmbi.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/skillet-pizza"/>
        </rule>
        <rule name="ski-llet-redirector-test1.tasteofhome.com">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)ski-llet(.*)"/>
            <add input="{HTTP_HOST}" pattern="^redirector-test1.tasteofhome.com$" />
            <add input="{HTTPS}" pattern="^off$"/>
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/cheery-cherry-punch"/>
        </rule>        
        <rule name="ski-llet-redirector-test1.tasteofhome.com-HTTPS">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)ski-llet(.*)"/>
            <add input="{HTTP_HOST}" pattern="^redirector-test1.tasteofhome.com$" />
            <add input="{HTTPS}" pattern="^on$"/>
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes"/>
        </rule>                
        <rule name="backyard websites catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?backyard(.*).com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com"/>
        </rule>         
        <rule name="bestsimplerecipes.com/orderfast">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)orderfast(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?bestsimplerecipes.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/pubs/RM/QCK/INT-1407-Cheesecake-OP-RES-June3.jsp?cds_page_id=163154&amp;cds_mag_code=QCK&amp;id=1460737697389&amp;lsid=61061128173022421&amp;vid=1&amp;cds_response_key=DJLDE600S"/>
        </rule>  
        <rule name="bestsimplerecipes.com catch all">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?quickcooking.com$" />            
            <add input="{HTTP_HOST}" pattern="^(www.)?bestsimplerecipe(s)?.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/publication/simple-recipes"/>
        </rule>          
	      <rule name="www.birdsandbloomsblog.com catch all">
          <match url="^(.*)/(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?birdsandbloomsblog.com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com/blog/{R:2}"/>
        </rule>  
	      <rule name="community.birdsandblooms.com/forums/14.aspx">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)14.aspx(.*)$" />
            <add input="{HTTP_HOST}" pattern="^community.birdsandblooms.com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com/community/forum/birding/bird-pics"/>
        </rule>  
	      <rule name="community.birdsandblooms.com/forums catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^community.birdsandblooms.com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com/community/forum/birding/general-bird-qas"/>
        </rule>  
	      <rule name="community.birdsandblooms.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^community.birdsandblooms.com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com/community"/>
        </rule>  
	      <rule name="videos.birdsandblooms.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^videos.birdsandblooms.com$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com"/>
        </rule>  
     	  <rule name="www.birdsandbloomsextra.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?birdsandblooms(.*).(com|info)$" />
          </conditions>
          <action type="Redirect" url="http://www.birdsandblooms.com"/>
        </rule>          
        <rule name="bookservices.buysub.com">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?(book-services|bookservicecenter).com$" />
          </conditions>
          <action type="Redirect" url="http://bookservices.buysub.com"/>
        </rule>   
        <rule name="club websites catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?(club)?(familyhandyman|birdsandblooms|countrywoman|countrymagazine|reminisce).com$" />
          </conditions>
          <action type="Redirect" url="http://www.{C:3}.com"/>
        </rule>   
        <rule name="www.clubtasteofhome.com/findashow">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)FindAShow(.*)$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?clubtasteofhome.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/Cooking-Schools/Find-a-Class"/>
        </rule>
        <rule name="www.clubtasteofhome.com.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?clubtasteofhome.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com"/>
        </rule>        
        <rule name="cookingfor2.com/misc_pages/findtheobject">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)findtheobject(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/publication/cooking-for-two-magazine"/>
        </rule>   
        <rule name="cookingfor2.com/misc_pages/bonus">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)bonus(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/publication/cooking-for-two-magazine"/>
        </rule>   
        <rule name="cookingfor2.com/Misc_Pages/contestPromo">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)contestPromo(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/Contests"/>
        </rule>  
        <rule name="cookingfor2.com/Misc_Pages/community">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)community(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://community.tasteofhome.com/"/>
        </rule>  
<!-- next 4 rules redirect to error page currently -->
        <rule name="cookingfor2.com/pay">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)pay(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://w1.buysub.com/pubs/RM/TWO/TWO_EmailAcctNumberEntryForm.jsp?cds_page_id=21132&amp;cds_mag_code=TWO&amp;id=1233092656747&amp;lsid=90271544167018239&amp;vid=1"/>
        </rule>  
        <rule name="cookingfor2.com/renew">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)renew(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://w1.buysub.com/pubs/RM/TWO/TWO_EmailAcctNumberEntryForm.jsp?cds_page_id=21132&amp;cds_mag_code=TWO&amp;id=1233092672501&amp;lsid=90271544167018239&amp;vid=2"/>
        </rule>  
        <rule name="cookingfor2.com/gifts">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)gifts(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://w1.buysub.com/pubs/RM/TWO/TWO_GiftDonee_fresh.jsp?cds_page_id=46168&amp;cds_mag_code=TWO&amp;id=1233092704617&amp;lsid=90271544167018239&amp;vid=4&amp;cds_response_key=II0BA04C"/>
        </rule>  
        <rule name="cookingfor2.com/OrderHoliday">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)OrderHoliday(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor2.com$" />
          </conditions>
          <action type="Redirect" url="http://w1.buysub.com/pubs/RM/HOL/HOL1_Fresh_Subscriptions10hard.jsp?cds_page_id=53220&amp;cds_mag_code=HOL&amp;id=1233092720631&amp;lsid=90271544167018239&amp;vid=5&amp;cds_response_key=LI001G"/>
        </rule>  
        <rule name="cookingforX.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?cookingfor(.*).com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/publication/cooking-for-two-magazine"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/Taste">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)Taste(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2F81VH99E"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/offer">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)offer(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2F81VH02M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/order">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)order(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2F81VH03M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/cook">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)cook(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2F71VH995"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/SND">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)SND(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2F81VH04M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/RD">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)RD(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA1VH98E"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/REM">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)REM(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA2VH97E"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/CWM">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)CWM(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA1VH01M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/BNB">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)BNB(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA1VH02M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/FRL">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)FRL(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA1VH03M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com/COU">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="^(.*)COU(.*)$" />	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674&amp;cds_response_key=B2FA1VH04M"/>
        </rule>  
      	<rule name="www.ezreadcollection.com catch all">
          <match url="(.*)"/>
          <conditions>	
            <add input="{HTTP_HOST}" pattern="^(www.)?ezreadcollection.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/ConvertibleGateway?cds_mag_code=RMB&amp;cds_page_id=189674"/>
        </rule>  
        <rule name="www.familyhandyman.com misc redirects">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?familyhandymanblog.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?thefamilyhandyman.com$" />
          </conditions>
          <action type="Redirect" url="http://www.familyhandyman.com"/>
        </rule>
        <rule name="lightandtasty.com catch all">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?lightandtasty.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?lightandtastyplus.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?lighttasty.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?lightntasty.com$" />                                    
            <add input="{HTTP_HOST}" pattern="^(www.)?lightrecipes.com$" />            
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/healthy-eating"/>
        </rule>  
        <rule name="loveandhomemaderecipes and recipes catch all">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^recipes.(.*).com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?loveandhomemaderecipes.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes"/>
        </rule>
      	<rule name="www.ordertasteofhome.com catch all">
          <match url="(.*)"/>
          <conditions>	
            <add input="{HTTP_HOST}" pattern="^(www.)?ordertasteofhome.com$" />
          </conditions>
          <action type="Redirect" url="https://order.tasteofhome.com/servlet/GiftsGateway?cds_mag_code=TOH&amp;cds_page_id=122472"/>
        </rule>
        <rule name="outsmartingalzheimers.com/Order">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)Order(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=RDmag&amp;utm_medium=Print&amp;utm_term=Editorial&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>  
        <rule name="outsmartingalzheimers.com/RD">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)RD(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=RDmag&amp;utm_medium=Print&amp;utm_term=HouseAD&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>  
        <rule name="outsmartingalzheimers.com/Offer">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)Offer(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=REMmag&amp;utm_medium=Print&amp;utm_term=HouseAD&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>  
        <rule name="outsmartingalzheimers.com/Book">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)Book(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=Maria&amp;utm_medium=Maria&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>  
        <rule name="outsmartingalzheimers.com/Buy">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)Buy(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=RDMag&amp;utm_medium=exclusioncard&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>  
        <rule name="outsmartingalzheimers.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?outsmartingalzheimers.com$" />
          </conditions>
          <action type="Redirect" url="http://www.readersdigeststore.com/alzheimers?utm_source=Vanitydirect&amp;utm_medium=Print&amp;utm_campaign=OutsmartingAlzheimers"/>
        </rule>           
      	<rule name="www.rdabooks.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?rdabooks.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhomebooks.com"/>
        </rule>  
        <rule name="Recipes Across America cookbook">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?recipesacrossamerica.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?recipesacrossamericacookbook.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes-across-america-cookbook?Keycode=RCD52VH04M"/>
        </rule>             
        <rule name="recipes.lightandtasty.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^recipes.lightandtasty.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/"/>
        </rule>  
        <rule name="recipes.rd.com">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^recipes.rd.com$" />
          </conditions>
          <action type="Redirect" url="http://www.rd.com/food/"/>
        </rule>                 
        <rule name="misc reimanpub.com redirects">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?homeandgardenmedia.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?craftingtraditions.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?rd(a)?mke.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?rdashomesolutionsnetwork.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?yourfamilymag.com$" />  
          </conditions>
          <action type="Redirect" url="http://tmbi.com"/>
        </rule>                            
        <rule name="reminisce.com redirects">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?reminisceblog.com$" />  
          </conditions>
          <action type="Redirect" url="http://www.reminisce.com"/>
        </rule>        
      	<rule name="www.shopfamilyhandyman.com catch all">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^(www.)?shop(the)?familyhandyman.com$" />
                        <add input="{HTTP_HOST}" pattern="^(www.)?familyhandymanbooks.com$" />
          </conditions>
          <action type="Redirect" url="http://www.shoptasteofhome.com/side/the-family-handyman.html" />
        </rule>  
        <rule name="shoptasteofhome.com catch all">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?shoptoh.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?clubshoptasteofhome.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?tasteofhomestore.com$" />            
            <add input="{HTTP_HOST}" pattern="^(www2.)?shoptasteofhome.com/(?!(rd.asp|shared/pages/optout.asp))$" />   
          </conditions>
          <action type="Redirect" url="http://www.shoptasteofhome.com"/>
        </rule>                    
        <rule name="simpleanddeliciousmagazine.com/EasyPay">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_URI}" pattern="(.*)(e|E)asy(p|P)ay(.*)"/>
            <add input="{HTTP_HOST}" pattern="^(www.)?simpleanddeliciousmagazine.com$" />
          </conditions>
          <action type="Redirect" url="https://w1.buysub.com/servlet/CSGateway?cds_mag_code=QCK"/>
        </rule>  
        <rule name="simplydeliciousmag.com catch all">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?simplydeliciousmag.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?simplydeliciousmagazine.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?simpleanddeliciousmag.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?simpleanddeliciousmagazine.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?bestsimplerecipesplus.com$" />                        
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/recipes/publication/simple-recipes"/>
        </rule>            
        <rule name="miscellaneous tasteofhome.com redirects">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?tasteofhome.(net|us|info)$" />
            <add input="{HTTP_HOST}" pattern="^social.tasteofhome.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?bestlovedrecipes.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?tasteofhome(s)?cooking(.*).com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?tasteofhome(expo|extra|minute|tv).com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com"/>
        </rule>
        <rule name="tasteofhome.com/cooking-schools redirects">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?quickcookingonstage.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?quickcookingschool(s)?.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/cooking-schools/"/>
        </rule>
      	<rule name="www.tohwoman.com catch all">
          <match url="(.*)"/>
          <conditions>	
            <add input="{HTTP_HOST}" pattern="^(www.)?(tasteofhome|toh)?woman.com$" />
          </conditions>
          <action type="Redirect" url="http://www.countrywomanmagazine.com"/>
        </rule>        
        <rule name="www.tasteofhomeschools.com redirects">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www.)?homemakerschools.com$" />
            <add input="{HTTP_HOST}" pattern="^(www.)?tasteofhomeschool.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tasteofhomeschools.com"/>
        </rule>   
        <rule name="upload.reimanpub.com redirects">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^upload.reimanpub.com$" />  
          </conditions>
          <action type="Redirect" url="http://upload.rdamilwaukee.com"/>
        </rule> 
        <rule name="videos.tasteofhome.com redirects">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^videos.tasteofhome.com$" />  
          </conditions>
          <action type="Redirect" url="http://www.tasteofhome.com/videos"/>
        </rule> 
        <rule name="www.tohonlinecookingschool.com catch all">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?tohonlinecookingschool.com$" />
          </conditions>
          <action type="Redirect" url="http://www.tohcookingschool.com"/>
        </rule> 
        <rule name="Jenkins">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^jenkins.rdamilwaukee.com$" />
          </conditions>
          <action type="Redirect" url="http://usgdc8k29:9090"/>
        </rule>  
        <rule name="Octopus">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^deploymentmanager.rdamilwaukee.com$" />
          </conditions>
          <action type="Redirect" url="http://usgdc8k29:81"/>
        </rule>  
      </rules>
    </rewrite>
  </system.webServer>
</configuration>